{"filter":false,"title":".babelrc","tooltip":"/tennis_club_app/frontend/.babelrc","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":0,"column":0},"end":{"row":3,"column":0},"action":"insert","lines":["{","  \"presets\": [\"@babel/preset-env\", \"@babel/preset-react\"]","}",""],"id":1}],[{"start":{"row":0,"column":0},"end":{"row":3,"column":0},"action":"remove","lines":["{","  \"presets\": [\"@babel/preset-env\", \"@babel/preset-react\"]","}",""],"id":2},{"start":{"row":0,"column":0},"end":{"row":3,"column":0},"action":"insert","lines":["{","  \"presets\": [\"@babel/preset-env\", \"@babel/preset-react\"]","}",""]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":3,"column":0},"end":{"row":3,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":117,"mode":"ace/mode/json"}},"timestamp":1726031462981,"hash":"215eba3a260f5e2d478b9896364a768c96728276"}